# First print your name in the cell below then save this file. (or something nice about your instructor)

In [2]:
# In this cell print your name 
print('Tedd Lee')

Tedd Lee

# Data wrangling with Pandas exercise
* For this exercise we will be using the `listings.csv` data file.

In [3]:
import pandas as pd
import numpy as np

# Load in the data file using `pd.read_csv()`

In [4]:
# Load data here
listings = pd.read_csv('data/listings.csv')

## Exercise 2 - Filtering

Return the following subsets of the dataframe.

1. How many listings are there with a price less than 100? 


2. Find how many listings there are in just Brooklyn.


3. Find how many listings there are in Brooklyn with a price less than 100.


4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.


5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  The prices for all other listings should be the same as the were before. 


6. What % of the rooms are private, and what % of the rooms are shared.  
    * Hint, use `.value_counts()`

In [5]:
# 1. How many listings are there with a price less than 100? 
under_100 = listings['price'] < 100
listings_under_100 = listings[under_100]
print(len(listings_under_100))

22778

In [6]:
# 2. Make a new DataFrame of listings in Brooklyn named `df_bk` 
# and find how many listings in just Brooklyn.
in_bklyn = listings['neighbourhood_group'] == 'Brooklyn'
df_bk = listings[in_bklyn]
print(len(df_bk))

18632

In [7]:
# 3. Find how many listings there are in Brooklyn with a price less than 100.
print(len(listings[ under_100 & in_bklyn]))

10473

In [8]:
# 4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.
# How many total are there that have those names
hostnames = ['Michael', 'David', 'John', 'Daniel']
special_host = listings.host_name.isin(hostnames)
special_host_listings = listings[special_host]
print(len(special_host_listings))

1258

In [9]:
# 5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  
# The prices for all other listings should be the same as the were before. 
in_williamsburg = listings['neighbourhood'] == 'Williamsburg'
listings['adjusted_price'] = np.where(in_williamsburg, listings['price'] + 100, listings['price'])

In [10]:
# 6. What % of the rooms are private, and what % of the rooms are shared.  
room_type_counts = listings.room_type.value_counts(normalize=True)
print(room_type_counts.loc['Private room'] * 100)
print(room_type_counts.loc['Shared room'] * 100)

45.444580566122895
2.12134889419047

# Exercise 3 - Grouping

1. Using `groupby`, count how many listings are in each neighbourhood_group.


2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 


3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 


4. Using `groupby`, find the median price for each room type in each neighbourhood_group.


5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices for each room type in each neighbourhood_group.

In [11]:
# 1. Using `groupby`, count how many listings are in each neighbourhood_group.
print(listings.groupby('neighbourhood_group')['id'].count())

neighbourhood_group
Bronx             1183
Brooklyn         18632
Manhattan        20580
Queens            5791
Staten Island      341
Name: id, dtype: int64

In [12]:
# 2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 
print(listings.groupby('neighbourhood_group')['price'].mean())

neighbourhood_group
Bronx             92.751479
Brooklyn         120.225258
Manhattan        191.880466
Queens            99.754965
Staten Island    110.947214
Name: price, dtype: float64

In [13]:
# 2.5. Using `groupby`, find the mean price for each room_type. 
print(listings.groupby('room_type')['price'].mean())

room_type
Entire home/apt    199.395950
Hotel room         275.015075
Private room        91.453084
Shared room         87.063830
Name: price, dtype: float64

In [14]:
# 3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 
print(listings.groupby('neighbourhood_group')['price'].agg(['min', 'max']))

                     min    max
neighbourhood_group
Bronx                 16   1404
Brooklyn               0  10000
Manhattan              0  10000
Queens                 0  10000
Staten Island         19   1200

In [15]:
# 4. Using `groupby`, find the mean price for each room_type in each neighbourhood_group.
print(listings.groupby('neighbourhood_group')['price'].mean())

neighbourhood_group
Bronx             92.751479
Brooklyn         120.225258
Manhattan        191.880466
Queens            99.754965
Staten Island    110.947214
Name: price, dtype: float64

In [16]:
# 5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices 
# for each room type in each neighbourhood_group.
print(listings.groupby('neighbourhood_group')['price'].agg(['count', 'min', 'max', 'mean', 'median', 'std']))

                     count  min    max        mean  median         std
neighbourhood_group
Bronx                 1183   16   1404   92.751479    69.0   95.787081
Brooklyn             18632    0  10000  120.225258    90.0  180.136376
Manhattan            20580    0  10000  191.880466   129.0  428.682578
Queens                5791    0  10000   99.754965    70.0  207.648739
Staten Island          341   19   1200  110.947214    79.0  122.676152

# Join and file saving.
1. Load the `prices.csv` and the `n_listings.csv`


2. Do join that keeps all the records for each table.
    * Neighbourhood groups should include ['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island',
       'LongIsland']
       
       
3. Save your joined csv as `joined.csv`


4. Load your saved table and see if it looks the same or different that the DataFrame you used to create it.

In [17]:
# 1. Load the `prices.csv` and the `n_listings.csv`
prices = pd.read_csv('data/prices.csv')
n_listings = pd.read_csv('data/n_listings.csv', delimiter=';')

In [18]:
# 2. Do join that keeps all the records for each table.
joined_df = pd.merge(prices, n_listings, on='neighbourhood_group')
joined_df

  neighbourhood_group   mean_price  n_listings
0               Bronx    92.751479        1183
1            Brooklyn   120.225258       18632
2           Manhattan   191.880466       20580

# Extra Credit
Every question below this cell is extra credit and optional.

### 1. (Easy) Explore this new PandasAI Package and tell me what its all about because I've never used it. 
* https://www.youtube.com/watch?v=5w6eZaoDVVk&ab_channel=CodingIsFun  
* See if you can use it on the listings.csv to find out some cool info. or answer some of the questions above.

### 2. (Very Easy) Find other cool Panda packages / add ons and show us what they can do well. And how you installed them.

### 3. (Medium) Use the grammys.csv data for the next section of questions.

1. Who was won Album of the Year in 2016?


2. Who won Best Rap Album in 2009?


3. How many awards was Kendrick Lamar nomiated for, and how many did he win...?

### (Hard) Load the Game Logs for 2022 and add the column names using a dictionary.  
* [Link to the data page](https://www.retrosheet.org/gamelogs/)
* [Link to the column names](https://procatinator.com/)
* haha, gotta find them yourself!

### (Extra Hard) Download the files for the past 5 years into a new folder and add them all into one data frame using pandas, then save that new file.
* Try to not hard code in the file names. We want to do this programmatically because what if we want to add new/more file names in the future.